{% extends 'base.html' %}
{% block title %}배달의민족 sinup{% endblock %}


{% block body %}

<div class="container">
  <form class="form-signin" role="form" method="post" action="">
    {% csrf_token %}
    <h2 class="form-signin-heading a">
    {% if replace %} {{replace}} {% else %}업체 로그인 {% endif %}
    </h2>
    <input type="texyt" class="form-control br"
      placeholder="Username" name='username' required="" autofocus="">
    <input type="password" class="form-control br"
      placeholder="Password" name='password' required="">
      <div class='fontcolor br a'>{{ error }}</div> <!--error의 키값이 출력-->
    <button class="btn btn-lg btn-primary btn-block br" type="submit">
      Login
    </button>

    {% if is_client %}
    <div class="a">
         <a href="{% url 'login' %}">업체용 로그인</a>
    </div>
    {% endif %}
    <div class="a">
         <a href="{% url 'client:main' %}">홈으로 돌아가기</a>
    </div>

  </form>

</div>

{% endblock %}
