{% extends 'base.html' %}
{% block title %}메뉴페이지{% endblock %}
{% block body %}
{% include 'navbar.html'%}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-2">
        <h3 class="br">메뉴 리스트</h3>
        <table class="table">
          <tr>
            <th>이미지</th>
            <th>메뉴이름</th>
            <th>가격</th>
          </tr>
            {% for menu in menu_list %}
            <tr> <!--url를 꼭 붙여줘야 된다.-->
              <td>
                <a href="{% url 'menu_detail' menu.id %}">
                <img class='images'src="{{ menu.image.url }}">
              </a>
             </td>
              <td>{{menu.name}}</td>
              <td>{{menu.price}}</td>
            </tr>
            {% endfor %}
          </table>
        <a href="{% url 'menu_add' %}">
          <button class="btn btn-default btn-block">메뉴 추가하기</button>
        </a>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module margin-top">
        <h4>Categories</h4>
        <ol class="list-unstyled"">
          <li><a href="{% url 'menu' %}">all</a></li>
          {% for alias,category in category_list %}
            <li><a href="?category={{　alias　}}">{{　category　}}</a></li>
          {% endfor%}
        </ol>
      </div>
    </div>

  </div>
</div>


{% endblock %}
