{% extends 'base.html' %}
{% block title %}메뉴추가페이지{% endblock %}
{% block body %}
{% include 'navbar.html'%}

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 class="br">
        ※ 메뉴{% if replace %} {{ replace }}{% else %} 추가{% endif %}하기
      </h3>
      <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
         {{ menu_form.as_p }}
         <button class="btn btn-default btn-block br">
          {% if replace %} {{ replace }}{% else %} 추가{% endif %} <!--replace는 '수정'-->
         </button>
      </form>

    </div>
  </div>
</div>


{% endblock%}
